a:link, a:visited, a:active{
    color: white;
}

a:hover{
    color: black;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table{
    background-color: rgb(219, 23, 82);
    min-width: 100%;
    color: white;
    font-size: 2.5rem;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

}

th,a{
    margin-left: 40%;
}


