body {
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #db1a2a, rgb(219, 23, 82));
}

a:link, a:visited, a:active{
    color: white;
}

a:hover{
    color: black;
}
