body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #db1a2a, rgb(219, 23, 82));
}

.form {
    color: white;
    text-align: center;
}

body{
    background: linear-gradient(90deg, #db1a2a, rgb(219, 23, 82));
}
textarea {
    resize: none;
    height: 150px;
    width:300px;
}

.filter{
    text-align: left;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button{
    align-self: center;
}

a:link, a:visited, a:active{
    color: white;
}

a:hover{
    color: black;
}