body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(90deg, #db1a2a, rgb(219, 23, 82));
}

.form {
    color: white;
    text-align: center;
}

body{
    background: linear-gradient(90deg, #db1a2a, rgb(219, 23, 82));
}
textarea {
    resize: none;
    height: 150px;
    width:300px;
}

table{
    background-color: white;
    width: 100%;
    font-size: 2.5rem;
    border: 5px;
    border-radius: 20px;
    border-style: solid;
    border-color: black;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

th,a{
    margin-left: 40%;
} 

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.button{
    align-self: center;
}

a:link, a:visited, a:active{
    color: rgb(219, 23, 82);
}

a:hover{
    color: black;
}